<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ls.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />
	
 
<!--     <uses-permission android:name="android.permission.CALL_PHONE" />" -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher">
<!--         android:label="@string/app_name" > -->
<!--         android:theme="@style/AppTheme" > -->
       	<activity 
       	    android:name=".Activity1"
       	    android:label="@string/app_name">
       	    <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
            
       	</activity>
       	<activity android:name=".RoseActivity"
       	    android:label="RoseActivity">
       	    <intent-filter >
       	        <action android:name="ls.demo.WATCHMOVIE" />
       	        <category android:name="android.intent.category.DEFAULT" />
       	        <data android:scheme="http"/>
       	    </intent-filter>
       	    
       	</activity>
       	<activity android:name=".LifecycleActivity" android:configChanges="orientation|touchscreen"
       	    android:label="LifecycleActivity">"
       	   <!-- <intent-filter >
       	        <action android:name="android.intent.action.MAIN" />
     	        <category android:name="android.intent.category.LAUNCHER" />"
	        </intent-filter> -->
       	</activity>
       	
       	<activity android:name=".FloatActivity" android:theme="@style/Theme.FloatActivity"
       	    android:label="FloatActivity">
       	    
       	</activity>
       	<activity android:name=".ATaskActivity"
       	   android:label="ATaskActivity"
       	   android:clearTaskOnLaunch="false"
       	   android:excludeFromRecents="false"
       	   android:process="ls.customProcess"
       	   android:exported="true"> 
       	   <intent-filter>
       	        <action android:name="android.intent.action.MAIN" />
       	        <category android:name="android.intent.category.LAUNCHER"/>
       	    </intent-filter>
       	</activity>
       	<activity android:name=".BTaskActivity"
       	    android:label="BTaskActivity"
       	    android:finishOnTaskLaunch="false"
       	    android:launchMode="singleInstance" >"
       	    
       	</activity>
       	
       	<service android:name=".AdamService"></service>
    </application>

</manifest>
